<h1>Edit Profile</h1>
<%= form_for(@user, url: profile_path, method: :patch) do |f| %>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "Update", class: "btn-submit" %>
  </div>
<% end %>
